a{
    text-decoration: none;
}

/* shared area  */
.dis-flex{
    display: flex;
}
.color-1{
    color: #8987A1;
}
.color-2{
    color: #E95A08;
}
/* header area  */

header{
    margin-top: 30px;
}

/* nav area  */
.navber{
    
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-links{
    gap: 48px;
}
.nav-links li{
list-style: none;
}
.nav-link{
    text-decoration: none;
}
#home{
    color: #252432;
}
#cart-color{
    color: rgba(0, 0, 0, 1);
}
/* banner area  */
.banner-container{
    max-width: 1140px;
    margin: 120px auto;
    justify-content: end;
    align-items: end;

}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-description{
    font-size: 1.6rem;
    margin-top: 0;
}
.banner-container img{
    max-width: 570px;
}
/* card area  */

.card-section{
    max-width: 1140px;
    height: auto;
    margin: 0 auto 100px auto;
    text-align: center;
}
.plants-card-title{
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0;
}
.plants-card-description{
    font-size: 1.4rem;
    
}
.plants-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
}
.plants-card{
    text-align: center;
    max-width: 270px;
    padding: 19;
}
.plants-card img{
    width: 100%;
}
.card-btn{
width: 100%;
background-color: #E95A08;
padding: 19px 50px;
}
.card-btn a{
    color: white;
    font-weight: 600;
}
#lily{
    font-weight: 500;
    font-size: 1.4rem;
}
#price{
    font-weight: 700;
    font-size: 1.4rem;
}
 /* plants lover area  */
 .plants-lover-section{
    max-width: 1140px;
    margin: 150px auto;
    position: relative;
 }
 .badge{
    height: 286px;
    width: 286px;
    position: absolute;
    top: -130px;
    left: 300px;
 }
 .plants-lover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
 }
 .plants-lover-container img{
    width: 100%;
    height: 100%;
 }
 .plants-lover-title{
    font-size: 3.2rem;
    font-weight: bold;
 }
 .plants-lover-description{
    font-size: 1.4rem;
 }
 /* deal area  */
 .deal-section{
   max-width: 1140px;
   margin: 0 auto;
   text-align: center;
 }
 .deal-title{
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 0;
 }
 .deal-description{
    font-size: 1.3rem;

 }
 .deal-container{
    display: flex;
    height: 423px;
    gap: 28px;
    margin-top: 120px;
 }
 .deal-container-box{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 367px;
    height: 423px;
 }
 .offer-box1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/deal-ana.png');
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* width: 100%; */
    border-radius: 10px;
 }
 .offer-box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/deal-bloom.png');
     display: flex;
     background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 200px;
    /* width: 100%; */
 }
 .offer-box3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/deal-zabo.png');
    width: 753px;
    height: 423px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
 }
 .offer-box3 h4{
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
 }
 .offer-box3 h5{
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
 }
 .offer{
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        margin-bottom: 0;
    }
    .shop-now{
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-decoration: underline;
    }
    /* join area  */
    .join-container{
        background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
         url('/assets/news-letter-bg.png');
        background-size: cover;
        width: 100%;
        height: 533px;
        color: white;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    
       
    }
    .join-title{
        font-size: 3.2rem;
        font-weight: bold;
    }
        
    .join-input{
        gap: 0;
    }
    
    input{
     width: 644px;
     padding: 15px 20px;
     margin-right: 0;
     border: none;
     outline: none;
    }
     .join-input button{
        background-color: #E95A08;
        padding: 15px 53px;
        margin-left: 0;
        border: none;
        outline: none;
     }
     button a{
      color: white;
      font-weight: 600;
     }
@media screen and (max-width: 512px){
    /* nav area responsive  */
    .list-item1, .list-item2, .list-item3{
        display: none;
    }
    .navber{
        margin: 28px;
    }
    /* banner area responsive */
    .banner-container{
        flex-direction: column-reverse;
        gap: 28px;
        margin: 0;
    }
    .banner-title{
        font-size: 1.6rem;
    }
    .banner-box{
        padding: 0 16px 0 16px;
    }
    /* plants card area responsive */
    .plants-card-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .plants-card-img{
        width: 100%;
    }
    /* plants-lover-section */
    .plants-lover-section{
        margin: 41px auto 143px auto;
    }
    .plants-lover-container{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .badge{
        display: none;
    }
    /* best deal area  */
    .deal-container {
    flex-direction: column;
    height: auto;
    gap: 20px;
    margin-top: 50px;
  }

  .deal-container-box {
    width: 100%;
    height: auto;
  }

  .offer-box1,.offer-box2,.offer-box3 {
    width: 100%;
    height: 200px;
  }

  .offer-box3 {
    height: 200px;
  }
  /* join area  */
  .join-container{
    width: 100%;
    height: 275px;
  }
  .join-title {
    
    font-size: 1.4rem;
    padding: 0 20px;
  }

  .join-input {
    flex-direction: column; 
    width: 100%;
    gap: 10px;               
    padding: 0 20px;         
  }

  .join-input input {
    width: 50%;
    padding: 12px 20px;
  }

  .join-input button {           
    padding: 12px 12px;
    width: 103px;
    
  }
  
}
    
    
    