a{
    text-decoration: none;
}

/* shared area  */
.dis-flex{
    display: flex;
}
.color-1{
    color: #8987A1;
}
.color-2{
    color: #E95A08;
}
/* header area  */

header{
    margin-top: 30px;
}

/* nav area  */
.navber{
    
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-links{
    gap: 48px;
}
.nav-links li{
list-style: none;
}
.nav-link{
    text-decoration: none;
}
#home{
    color: #252432;
}
#cart-color{
    color: rgba(0, 0, 0, 1);
}
/* banner area  */
.banner-container{
    max-width: 1140px;
    margin: 120px auto;
    justify-content: end;
    align-items: end;

}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-description{
    font-size: 1.6rem;
    margin-top: 0;
}
.banner-container img{
    max-width: 570px;
}
/* card area  */

.card-section{
    max-width: 1140px;
    max-height: 1187px;
    margin: 0 auto;
    text-align: center;
}
.plants-card-title{
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0;
}
.plants-card-description{
    font-size: 1.4rem;
    
}
.plants-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
}
.plants-card{
    text-align: center;
    max-width: 270px;
    padding: 19;
}
.card-btn{
width: 100%;
background-color: #E95A08;
padding: 19px 50px;
}
.card-btn a{
    color: white;
    font-weight: 600;
}
#lily{
    font-weight: 500;
    font-size: 1.4rem;
}
#price{
    font-weight: 700;
    font-size: 1.4rem;
}

@media screen and (max-width: 512px){
    /* nav area responsive  */
    .list-item1, .list-item2, .list-item3{
        display: none;
    }
    .navber{
        margin: 28px;
    }
    /* banner area responsive */
    .banner-container{
        flex-direction: column-reverse;
        gap: 28px;
        margin: 0;
    }
    .banner-title{
        font-size: 1.6rem;
    }
    .banner-box{
        padding: 0 16px 0 16px;
    }
    /* plants card area responsive */
    .plants-card-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .plants-card-img{
        width: 100%;
    }
    }
    